/* common style */

* {
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
}

/* header style */
.header {
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 200px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 2.5rem;
    font-weight: 700;
}

.header-right ul {
    display: flex;
    list-style: none;
}

.header-right ul a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    font-family: "Work Sans";
    font-size: 1rem;
    margin-right: 1.5rem;
    font-weight: 500;
}

/* banner style */
.banner-description {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-header h1 {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 3.5rem;
    font-weight: 700;
}

.banner-text p {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: "Work Sans";
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 35px;
}

.banner-img {
    margin-top: 30px;
}

.banner-img img {
    width: 100%;
}

/* main section */

main {
    margin: 70px auto;
    max-width: 1440px;
}

/* features section */

.features {
    display: flex;
    align-items: center;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.features-text {
    padding-left: 70px;
    padding-right: 70px;
}

.features-text h1 {
    max-width: 468px;
}

.quick {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 45px;
    font-weight: 500;
}

.of {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.our {
    color: #FF900E;
    font-family: "Work Sans";
    font-size: 45px;
    font-weight: 700;
}

.features-text p {
    max-width: 537px;
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 1rem;
    font-weight: 400;
}

/* responsive media queries */

/* mobile devices */
@media screen and (max-width: 576px) {
    .header {
        padding: 15px;
    }

    .header-top,
    .features
    {
        flex-direction: column;
    }
    .features-img{
        grid-template-columns: 1fr;
    }
    .features{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width: 960px) {
    .header {
        padding: 30px;
    }

    .header-top, .features {
        flex-direction: column;
    }
}